@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Product", "Index", "Product", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Supplier", "Index", "Supplier", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("Order", "Index", "Order", null, new { @class = "btn btn-success" })
